

.App {

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

h1 {
font-family: 'Lobster', cursive;
/* font-size: 50px; */
color: #4644f0;
}

.draw-area {

border: 2px solid #808080;
position: relative;
background-color: white;
}

.Menu {
/* height: 50px; */
display: flex;
justify-content: space-evenly;
/* border-radius: 5px; */
align-items: center;
background-color: #a3a3a32d;
/* margin: auto; */
/* margin-top: 10px; */
}
